.banner{
    background-image: url(https://bit.ly/2P7GhNd);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}


.check{
    display: flex;
    color: #3F5D45;
    margin-bottom: 32px;
    .material-icons{
        display: inline-block;
    }
    .line{
        border-bottom: 1px solid #3F5D45;
        width: 61px;
        transform: translateY(-50%) scaleX(1.15);
    }
}


.keep{
    font-size: 1.5rem;
    color: #3F5D45;
    font-weight: bold;
    background-color: #FFE180;
    padding: 14px 102px;
    &:hover{
        background-color: #90d47f;
        transition-duration: 0.5s;
    }
    &_mobile{
        display: none;
        font-size: 1.5rem;
        color: #3F5D45;
        font-weight: bold;
        background-color: #FFE180;
        padding: 14px 102px;
        &:hover{
        background-color: #90d47f;
        transition-duration: 0.5s;
    }
    }
}


@include pad {
    .banner{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .keep{
        display: none;
    }
    .keep_mobile{
        display: flex;
        justify-content: center;
    }
    
   
}