/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
}
*{
    font-family: "Microsoft JhengHei";
}
body{
    font-family: "Microsoft JhengHei";
}
.container{
    width: 940px;
    margin: 0 auto;
}
.header{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 8px;
}

.logo{
    height: 40px;
}

.nav{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 22px;
}

.nav li a{
    padding-left:60px;
    text-decoration: none;
    color: #3F5D45;
}


.shopping-cart{
    margin-left: 20px;
}

@media (max-width:768px){
    .container{
        width: 100%;
    }
    .nav-bar{
        display: none;
    }


    .hambar{
        display: block;
    }
}

.banner{
    width: 940px;
    height: 496px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.main{
    display: flex;
    justify-content: space-between;
}



.menu-category{
    background: #3F5D45;
    color: #EAF0ED;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;

}

.list_item{
    text-align: center;
    width: 300px;
    line-height: 40px;
    border: #EAF0ED 1px solid;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    background:white;
    color: #3F5D45;
}

.list_selected{
    background: #EAF0ED;
    border: 1px solid #EAF0ED;
    text-align: center;
    width: 300px;
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 40px;
    font-size: 24px;

}
.menu li a{
    text-decoration: none;
    color: #3F5D45;
}


.productList ul{
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.productList li{
    margin-bottom: 20px;
    position: relative;
}

.today_favorite{
    position: absolute;
    left: 20px;
    writing-mode: vertical-lr;
    color: #EAF0ED;
    background: #3F5D45;
    font-size: 16px;
    height: 106px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    
}

.img-header img{
    position: absolute;
    top: 19px;
    right: 22px;
    margin: 0;
}

.product_img{
    display: block;
}

.product_info{
    display: flex;
    width: 300px;
    text-align: center;
    font-size: 20px;
    align-items: center;
}

.product_name{
    color: #3F5D45;
    width: 173px;
    border: solid 1px #EAF0ED ;
    padding-top: 14px;
    padding-bottom: 14px;


}

.product_price{
    color: #3F5D45;
    font-size: 20px;
    width: 127px;
    border: solid 1px #EAF0ED ;
    padding-top: 14px;
    padding-bottom: 14px;
    font-weight: bold;
    
}
.add_to_shoppingcart{
    border: none;
    width: 100%;
    background: #EAF0ED;
    font-size: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    color: #3F5D45;
    font-weight: bold;
}

.pagination{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
    margin-top: 30px;
}

.page{
    display: flex;
    justify-content: flex-end;
}


.page a{
    width: 60px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #EAF0ED;
    font-size: 20px;
    line-height: 20px;
    color: #3F5D45;
    display: flex;
    justify-content: center;
    align-items: center;
}


.selected_page a:hover{
    color: #EAF0FD;
    background-color: #3F5D45;
}


